html {
    height: 100%;

}


/* Full page header */

header {
    height: 180vh;
    min-height: 400px;
    background-size: cover;
    /* background: url('/media/feather-homepage.jpg') no-repeat center center fixed; */
    color: #555;
    font-family: 'Montserrat';
    background-image: url('/media/feather-homepage.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

  
  .navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
  }
  
  .navbar-fixed-top.scrolled .nav-link {
    color:#555;
  }


.bg-dark {
    background-color: transparent !important;
    transition: 0.75s ease;
}
.bg-dark.scrolled {
    background: #000 !important;
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    font-family: 'Italiana', serif;
}


/* Form styling */

.form-control:focus {
    box-shadow: none;
  }
  
  .form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
  }

.main-logo-link {
    width: fit-content;
}

/* Shop now button themes */

.shop-now-button {
    background: blue;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: purple;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

/* -------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
} 

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
} 


